<div class="navbar-nav sticky-top bg-dark pt-1">
    <div class="">
        <div class="row py-2">
            <div class="col-sm-4 col-md-3">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-outline-secondary" (click)="logout()"
                        [disabled]='!loginSession'>
                        <i class="fas fa-sign-out-alt text-white"></i>
                    </button>
                    <button type="button" class="btn btn-outline-secondary text-white" (click)="login()">
                        <i class="bi bi-person-circle"></i>
                        <span class="align-middle ms-2">{{session | uppercase}}</span>
                    </button>
                </div>
            </div>
            <div class="d-flex justify-content-end col-sm-8 col-md-9">
                <div class="col-sm-5 col-md-5 mx-5">
                    <div class="input-group mb-3">
                        <input id="input-search" type="text" class="form-control" placeholder="Buscar"
                            aria-label="Buscar" aria-describedby="barra de busqueda">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" (click)="search()">
                                <i class="bi bi-search text-white"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="mx-md-4">
                    <button [disabled]='!loginSession' type="button" class="btn btn-outline-secondary text-white" data-bs-toggle="modal" data-bs-target="#formQuestion">
                        <i class="fas fa-question-circle fa-1x"></i>
                    </button>
                </div>
                <div class="col-sm-3 col-md-1">
                    <button class="btn btn-outline-secondary" (click)="goShoppingCart()">
                        <div class="d-md-inline-block cart">
                            <span class="fa-layers fa-fw">
                                <i class="fas fa-shopping-cart text-white" data-count="2"></i>
                                <span class="fs-6 fa-layers-counter ms-3 text-white">{{cartItemCount}}</span>
                            </span>
                        </div>
                    </button>
                </div>
            </div>
        </div>
        <div class="row bg-white">
            <div class="col-sm-0 col-md-1">
                <a routerLink="home">
                    <img class="m-2" src="../../../assets/img/icon.png" style="width: 80px; height: 80px;">
                </a>
            </div>
            <div class="col-sm-12 col-md-11">
                <div class="col-10">
                    <ul class="d-flex justify-content-around mt-3">
                        <a class="text-decoration-none" routerLink="home" routerLinkActive="active">
                            <p class="fs-4">Inicio</p>
                        </a>
                        <a class="text-decoration-none" routerLink="shops" routerLinkActive="active">
                            <p class="fs-4">Tiendas</p>
                        </a>
                        <a class="text-decoration-none" routerLink="categories" routerLinkActive="active">
                            <p class="fs-4">Categorías</p>
                        </a>
                        <a class="text-decoration-none" routerLink="information" routerLinkActive="active">
                            <p class="fs-4">Información</p>
                        </a>
                    </ul>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="formQuestion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Enviar pregunta al administrador</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form autocomplete="off" #forma="ngForm" (ngSubmit)="sendMsg(question.value)">
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Pregunta:</label>
            <textarea #question class="form-control" id="message-text"></textarea>
          </div>
          <button [disabled]="question.value==''" type="submit" class="btn btn-primary">
            Enviar
          </button>
          <button id="closeQuestModal"  [hidden]="true" data-bs-dismiss="modal" data-bs-target="#formQuestion">
        </button>
        </form>
      </div>
    </div>
  </div>
</div>