<div class="mx-5 px-5 animated fadeIn" style="min-height: 100vh;">
    <h2 class="fs-1 text-center mt-md-5">Carrito de compras</h2>
    <h5 class="text-end fs-4">Cantidad de productos: {{items.length}}</h5>
    <div class="container mt-md-5" *ngIf="items.length == 0">
        <h6 class="fs-6 text-center">No tiene ningun producto en su carrito</h6>
        <a class="btn bg-el-barrio-golden d-block mx-auto" [routerLink]="['/categories']">
            Ver lista productos
        </a>
    </div>
    <div class="row row-cols-1 g-4">
        <div class="card border-0" *ngFor="let item of items; let i=index">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12 col-md-3">
                        <img class="card-img-top mx-auto rounded-circle" [src]="item.image| noimage">
                        <h3 class="text-center fs-4 fw-bold">{{item.name}}</h3>
                    </div>
                    <div class="col-sm-12 col-md-9 d-flex align-items-center">
                        <div class="row">
                            <div class="col-6">
                                <h3 class="fs-3 mx-md-5 mb-md-5">{{item.description}}</h3>
                                <h4 class="fs-3 mx-md-5 mb-md-5">{{(item.price*item.quantity) | currency:
                                    'CRC':'symbol-narrow'}}</h4>
                                <div class="btn-group ">
                                    <button (click)="quantitySub(i)" class="fas fa-minus btn"></button>
                                    <input class="border-1 rounded-pill text-center" type="text"
                                        [value]="item.quantity">
                                    <button (click)="quantityAdd(i)" class="fas fa-plus btn"></button>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="w-100 mx-md-5">
                                    <div class="btn-group d-block" role="group">
                                        <div class="d-flex justify-content-center">
                                            <button class="btn mx-md-5" (click)="removeItem(item)">
                                                <i class="far fa-times-circle fa-3x"></i>
                                            </button>
                                            <button type="button" (click)="processOrder(item)"
                                                class="w-50 btn bg-el-barrio-blue rounded-pill">
                                                Comprar
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
        </div>
    </div>
</div>



<!-- Button trigger modal -->
<button id="btn-formOrder" type="button" hidden="true" data-bs-toggle="modal" data-bs-target="#formOrder">
</button>

<!-- Modal -->
<div class="modal fade" id="formOrder" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Procesar compra</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="text-center form-control border-0 animeted fadeIn" autocomplete="off"
                    (ngSubmit)="processToBuy(forma)" #forma="ngForm">
                    <textarea class="form-control" type="text" placeholder="Comentario para el vendedor" name="comment"
                        [class.is-invalid]="comment.invalid && comment.touched" [ngModel]="orderForm.comment"
                        #comment="ngModel" style="resize: vertical;">
                    </textarea>
                    <hr>
                    <label>Datos de pago</label>
                    <input class="form-control" type="text" placeholder="Numero de tarjeta" name="cardNumber"
                    [class.is-invalid]="cardNumber.invalid && cardNumber.touched" [ngModel]="orderForm.cardNumber"
                    #cardNumber="ngModel" required>
                    <div class="row my-2">
                        <div class="col-md-6">
                            <input class="form-control" type="number" placeholder="Mes de vencimiento" name="month"
                            [class.is-invalid]="month.invalid && month.touched" min="1" max="12"
                            [ngModel]="orderForm.month" #month="ngModel" required>

                        </div>
                        <div class="col-md-6">
                            <input class="form-control" type="text" placeholder="Año de vencimiento" name="year"
                            [class.is-invalid]="year.invalid && year.touched"
                            [ngModel]="orderForm.year" #year="ngModel" required>
                        </div>
                    </div>
                    <input class="form-control" type="text" placeholder="CVV" name="cvv"
                        [class.is-invalid]="cvv.invalid && cvv.touched" [ngModel]="orderForm.cvv" #cvv="ngModel"
                        required>
                    <input type="submit"
                        class="button btn bg-el-barrio-dark-blue btn-lg btn-block rounded-pill m-2 text-uppercase"
                        value="Procesar pago" [disabled]="loading">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="closeModal" [hidden]="true" class="btn btn-secondary" (click)="CloseForm(forma)"
                    data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>