<div class="navbar navbar-default d-block navbar-fixed-bottom pt-3 bg-dark w-100">
    <div class="row text-white">
        <div class="col-6">
            <div class="col-sm-0 col-md-1">
                <img src="../../../assets/img/icon.png" style="width: 130px; height: 130px;">
            </div>
            <ul class="list-group mt-3 px-4 w-25">
                <a class="text-decoration-none fs-5" routerLink='home'>
                    <p class="text-link">Inicio</p>
                </a>
                <a class="text-decoration-none" routerLink='shops' routerLinkActive="active">
                    <p class="fs-5">Tiendas</p>
                </a>
                <a class="text-decoration-none" routerLink='categories' routerLinkActive="active">
                    <p class="fs-5 text-link">Categorías</p>
                </a>
                <a class="text-decoration-none" routerLink='information' routerLinkActive="active">
                    <p class="fs-5">Información</p>
                </a>
            </ul>
        </div>
        <div class="col-6">
            <div class="row w-100">
                <div class="d-flex justify-content-end">
                    <div class="w-50 text-end">
                        <h4 class="text-white">Redes Sociales</h4>
                        <a class="d-inline p-2 text-white">
                            <i class="bi bi-facebook"></i>
                        </a>
                        <a class="d-inline p-2 text-white">
                            <i class="bi bi-google"></i>
                        </a>
                        <a class="d-inline p-2 text-white">
                            <i class="bi bi-instagram"></i>
                        </a>
                        <a class="d-inline p-2 text-white">
                            <i class="bi bi-twitter"></i>
                        </a>
                        <hr class="bg-white">
                    </div>
                </div>
                <div class="d-flex justify-content-end">
                    <div class="w-50 text-end">
                        <h4 class="bg-dark">Contacto<span class="ms-3"
                                style="font-size: large;">info@elbarriocr.com</span>
                        </h4>
                        <h4><i class="bi bi-telephone-inbound mx-3"></i><span>+506 0000-0000</span></h4>
                        <hr class="bg-white">
                    </div>
                </div>
                <div class="d-flex justify-content-end">
                    <div class="w-25 text-end">
                        <a class="text-decoration-none" href="#">
                            <p>Politicas de uso</p>
                        </a>
                        <a class="text-decoration-none" href="#">
                            <p>Preguntas frecuentes</p>
                        </a>
                        <a class="text-decoration-none" href="#">
                            <p>Acerca de</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>