<div class="px-5 mt-5 animated fadeIn">
    <div class="row">
        <div class="col-3">
            <div class="list-group">
                <button type="button" class="btn border-0 list-group-item text-start" [ngClass]="{'bg-dark': about, 'text-white' : about}" (click)="about = true; questions = false; politics = false;">Acerda de
                </button>
                <button type="button" class="btn border-0 list-group-item text-start" [ngClass]="{'bg-dark': politics, 'text-white' : politics}" (click)="about = false; questions = false; politics = true;">Pólitica de
                    uso</button>
                <button type="button" class="btn border-0 list-group-item text-start" [ngClass]="{'bg-dark': questions, 'text-white' : questions}" (click)="about = false; questions = true; politics = false;">
                    Preguntas frecuentes
                </button>
            </div>
        </div>
        <div class="col-8">
            <div *ngIf="about" class="animated fadeIn">
                <h2>Acerca de</h2>
                <p>La pandemia que surgió debido al virus SARS-CoV-2 trae consigo pesados desafíos en todas partes del mundo,
                    uno de ellos el paro o ralentización que sufrió el sector económico al enfrentarse a una epidemia buscando estrategias y 
                    vías de apoyo para los sectores más vulnerables.<br>
                </p>
                <p>
                    Dispuesto el reto de hacer frente al impacto que la pandemia trajo a nivel mundial, se imponen medidas que son necesarias para 
                    moderar la propagación del Covid para guardar la vida y salud pública de todos, provocando la afectación de forma particular en
                    las actividades económicas. En Costa Rica surgen decisiones como la interrupción de las cadenas de abastecimientos y producción, 
                    que han generado la pérdida de ingresos económicos como consecuencia de la disminución de la demanda. <br>
                </p>
                <p>
                    En relación con los emprendimientos y las personas a cargo, esta situación complica más su desarrollo y consolidación. <br>
                    Los emprendimientos son fuente desarrollo tanto económico como de bien social; de ahí surge la necesidad que ante el entorno
                    actual se brinde la solución de crear una aplicación web de venta y compra de productos, llamada el “El Barrio”. <br>
                </p>
                <p>
                    El Barrio es una página web creada exclusiva para emprendedores, para que logren reinventar su modelo de negocio,
                    incorporarse en el mundo digital y aumentar su propuesta de valor, creando una comunidad fuerte que logre recuperar su
                    productividad y competitividad frente a esta problemática. <br>
                </p>
            </div>
            <div *ngIf="politics" class="animated fadeIn">
                <h2>Politica de uso</h2>
                
                <h3>Principio de Limitación Objetiva: </h3>
                <p>La información personal solo se puede procesar con el propósito indicado al momento de su recolección. En caso que surja un nuevo propósito u objeto en relación a la misma información debe solicitarse nuevamente el consentimiento expreso del interesado en el que se indique el nuevo objeto. 
                </p>
                <h3>Principio de Confidencialidad:</h3>
                <p>
                    El responsable de la Base de Datos, y quienes intervengan en cualquier fase del tratamiento de Datos Personales, están obligados al secreto profesional o funcional, aun después de finalizada su relación con la Base de Datos. 
                </p>
                <h3>Principio de Calidad de la Información: </h3>
                <p>Solo podrán ser recolectados, almacenados o empleados de carácter personal para su tratamiento automatizado o manual, cuando tales datos sean actuales, veraces, exactos y adecuados al fin para el que fueron recolectados. </p>
                <h3>Principio de Retención de Datos:</h3>
                <p>Los datos recolectados sólo pueden ser archivados por el tiempo necesario para cumplir con el objeto específico de Avenida, a menos que la ley local establezca un plazo específico. </p>
                <h3>Principio de Seguridad de Datos: </h3>
                <p>La información personal contenida en una Base de Datos debe estar debidamente protegida a través de medias técnicas y organizativas adecuadas. En particular, se toman medidas en contra de: 
                    - Divulgación y/o destrucción no autorizada o accidental de la información personal.<br> - Pérdida accidental de la información personal.<br> - Fallas técnicas en las Bases de Datos.<br> - Falsificación, robo o uso ilegal de la información personal contenida en una Base de 
                    Datos. <br> - Alteración, copia o acceso no autorizado a la información personal.</p>
            </div>
            <div *ngIf="questions" class="animated fadeIn">
                <h2>Preguntas frecuentes</h2>
                <h3>1.    ¿Qué es El Barrio?</h3>
                <p>El Barrio Costa Rica es una plataforma web que nace bajo la idea de ofrecer a pequeñas marcas y 
                    emprendimientos nacionales la posibilidad de tener su propia tienda o espacio para vender en línea,
                    sin tener que incurrir en grandes gastos de desarrollo de software, mantenimiento del sitio web,
                    preocupaciones en el área de logística y envíos, inscripción a pasarelas de pago en línea, etc. <br> De todo
                    lo anterior nosotros nos preocupamos y encargamos. De igual forma ofrecer al público una sitio donde pueda encontrar
                    distintas marcas nacionales, apoyarlas y adquirir sus productos de forma rápida, fácil y segura. <br>
                </p>
                <h3>2.    ¿El Barrio posee ubicación física?</h3>
                <p>
                    No, nosotros funcionamos como intermediario de las marcas, por lo tanto no tenemos ubicación física,
                    esto varía de marca en marca. <br>
                </p>
                <h3>3.    ¿De qué forma se paga en El Barrio?</h3>
                <p>
                    Nuestra plataforma busca siempre ofrecerte la mejor experiencia de usuario, es por eso que tratamos de ofrecer las opciones más sencillas y
                    seguras a la hora de tramitar un pedido, las formas de pago que podes encontrar a la hora de finalizar tu pedido:
                    Tarjeta de Crédito o Débito: ya sea VISA o Mastercard, podes pagar tu pedido de forma rápida y segura, nuestra plataforma sigue los más
                    altos protocolos de seguridad web (conexión segura, encriptación de datos) para así evitar cualquier  inconveniente y poder ofrecer a nuestros
                    clientes tranquilidad a la hora de comprar en línea. <br>

                    Transferencia Bancaria o SINPE Móvil: en caso de que pagar con tarjeta en sitios en línea no te haga sentir muy seguro, también tenemos habilitada <br>
                    la opción para transferir dinero a nuestras cuentas ya sea por medio de un deposito bancario o por medio de SINPE Móvil.
                </p>
            </div>
        </div>
    </div>

</div>