<div class="px-5 mt-5 animated fadeIn">
    <div class="row">
        <div class="col-3">
            <div class="list-group">
                <button type="button" class="btn btn-outline-secondary border-0 list-group-item text-start" (click)="about = true; questions = false; politics = false;">Acerda de
                </button>
                <button type="button" class="btn btn-outline-secondary border-0 list-group-item text-start" (click)="about = false; questions = false; politics = true;">Pólitica de
                    uso</button>
                <button type="button" class="btn btn-outline-secondary border-0 list-group-item text-start" (click)="about = false; questions = true; politics = false;">
                    Preguntas frecuentes
                </button>
            </div>
        </div>
        <div class="col-8">
            <div *ngIf="about" class="animated fadeIn">
                <h2>Acerca de</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br> Quisque massa urna, maximus id quam eu,
                    viverra
                    convallis justo.<br>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br> Quisque massa urna, maximus id quam
                    eu, viverra
                    convallis justo.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque massa urna, maximus id quam eu,
                    viverra
                    convallis justo.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br> Quisque massa urna, maximus id quam eu,
                    viverra
                    convallis justo.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br> Quisque massa urna, maximus id quam eu,
                    viverra
                    convallis justo.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque massa urna, maximus id quam eu,
                    viverra
                    convallis justo.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque massa urna, maximus id quam eu,
                    viverra
                    convallis justo. <br>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque massa urna, maximus id quam eu,
                    viverra
                    convallis justo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br> Quisque massa urna,
                    maximus id quam eu, viverra
                    convallis justo. <br>
                </p>
            </div>
            <div *ngIf="politics" class="animated fadeIn">
                <h2>Politica de uso</h2>
                
                <h3>Politica de compra</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br> Quisque massa urna, maximus id quam eu,
                    viverra
                    convallis justo.<br>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br> Quisque massa urna, maximus id quam
                    eu, viverra
                    convallis justo.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque massa urna, maximus id quam eu,
                    viverra
                    convallis justo.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br> Quisque massa urna, maximus id quam eu,
                    viverra
                    convallis justo.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br> Quisque massa urna, maximus id quam eu,
                    viverra
                    convallis justo.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque massa urna, maximus id quam eu,
                    viverra
                    convallis justo.
                </p>
                <h3>Uso de datos</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque massa urna, maximus id quam eu,
                    viverra
                    convallis justo. <br>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque massa urna, maximus id quam eu,
                    viverra
                    convallis justo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br> Quisque massa urna,
                    maximus id quam eu, viverra
                    convallis justo. <br>
                </p>
            </div>
            <div *ngIf="questions" class="animated fadeIn">
                <h2>Preguntas frecuentes</h2>
                <h3>Pregunta 1</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br> Quisque massa urna, maximus id quam eu,
                    viverra
                    convallis justo.<br>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br> Quisque massa urna, maximus id quam
                    eu, viverra
                    convallis justo.
                </p>
                <h3>Pregunta 2</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque massa urna, maximus id quam eu,
                    viverra
                    convallis justo.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br> Quisque massa urna, maximus id quam eu,
                    viverra
                    convallis justo.
                </p>
                <h3>Pregunta 3</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br> Quisque massa urna, maximus id quam eu,
                    viverra
                    convallis justo.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque massa urna, maximus id quam eu,
                    viverra
                    convallis justo.
                </p>
                <h3>Pregunta 4</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque massa urna, maximus id quam eu,
                    viverra
                    convallis justo. <br>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque massa urna, maximus id quam eu,
                    viverra
                    convallis justo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br> Quisque massa urna,
                    maximus id quam eu, viverra
                    convallis justo. <br>
                </p>
            </div>
        </div>
    </div>

</div>