<div class="container mb-5 animated fadeIn mt-5">
    <div class="row">
        <div class="d-flex justify-content-center">
            <h1 class="fs-1">Crear una cuenta</h1>
        </div>
    </div>
    <div class="row">
        <div class="d-flex justify-content-center">
            <div class="mt-5 w-50">
                <div class="text-center animeted fadeIn">
                    <div class="row">
                        <div class="col-1 m-0 p-0">
                            <span class="align-self-start fas fa-circle fa-3x" style="color: #005E7A;"></span>
                        </div>
                        <div class="col-10  m-0 mt-4 p-0">
                            <div class="progress" style="height: 3px;">
                                <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="25"
                                    aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="col-1 m-0 p-0">
                            <span class="align-self-end fas fa-circle fa-3x" style="color: #005E7A;"></span>
                        </div>
                    </div>
                    <br><br><br>
                </div>
                <form class="text-center form-control border-0 animeted fadeIn" autocomplete="off"
                    (ngSubmit)="register(forma)" #forma="ngForm">
                    <h3 class="fs-2 text-start mb-5">Información personal</h3>
                    <div class="col-4 my-1 w-100">
                        <h4>Seleecione una imagen de perfil</h4>
                        <div class="card w-100">
                        <img class="img-fluid mx-auto rounded-circle" [src]="imgURL" *ngIf="imgURL" style="max-width: 200px; max-height: 200px;">
                            <div class="card-body">
                                <input class="btn" type="file" id="file" accept='image/*'
                                    (change)="loadImage($event.target.files)">
                            </div>
                        </div>
                    </div>
                    <input class="form-control" type="text" placeholder="Nombre completo" name="name"
                        (ngModelChange)="errorLogin=false" [class.is-invalid]="name.invalid && name.touched"
                        [ngModel]="customer.name" #name="ngModel" required>
                    <input class="form-control my-4 w-50" type="text" placeholder="Telefono" name="phone"
                        (ngModelChange)="errorLogin=false" [class.is-invalid]="phone.invalid && phone.touched"
                        [ngModel]="customer.phone" #phone="ngModel" required>
                    <input class="form-control my-4 w-50" type="text" placeholder="Cedula" name="id"
                        (ngModelChange)="errorLogin=false" [class.is-invalid]="id.invalid && id.touched"
                        [ngModel]="customer.id" #id="ngModel" required>
                    <input class="form-control my-4" type="text" placeholder="Correo" name="mail"
                        (ngModelChange)="errorLogin=false" [class.is-invalid]="mail.invalid && mail.touched"
                        [ngModel]="customer.mail" #mail="ngModel" required>
                    <div class="input-group my-md-4">
                        <input class="form-control" type="text" required placeholder="Provincia" name="state"
                            (ngModelChange)="errorLogin=false" [class.is-invalid]="state.invalid && state.touched"
                            [ngModel]="customer.state" #state="ngModel">
                        <input class="form-control" type="text" required placeholder="Canton" name="city"
                            (ngModelChange)="errorLogin=false" [class.is-invalid]="city.invalid && city.touched"
                            [ngModel]="customer.city" #city="ngModel">
                    </div>
                    <textarea type="text" class="form-control my-md-4" required placeholder="Otras señas"
                        name="direction" (ngModelChange)="errorLogin=false"
                        [class.is-invalid]="direction.invalid && direction.touched" [ngModel]="customer.direction"
                        #direction="ngModel" style="resize: none;">
                        </textarea>
                    <div class="input-group my-4">
                        <input class="form-control" type="password" required placeholder="Contraseña" name="password1"
                            (ngModelChange)="errorLogin=false"
                            [class.is-invalid]="password1.invalid && password1.touched" [ngModel]="customer.password1"
                            #password1="ngModel">
                        <input class="form-control" type="password" required placeholder="Repetir contraseña"
                            name="password2" (ngModelChange)="errorLogin=false"
                            [class.is-invalid]="password2.invalid && password2.touched" [ngModel]="customer.password2"
                            #password2="ngModel">
                    </div>
                    <small class="text-danger" *ngIf="(password1.value != password2.value) && password2.touched">La
                        contraseña no coincide</small>
                    <h3 class="fs-2 text-start mb-5">Información tienda</h3>
                    <div class="col-4 my-1 w-100">
                        <h4>Seleecione una imagen para la tienda</h4>
                        <div class="card w-100">
                        <img class="img-fluid mx-auto rounded-circle" [src]="imgURLE" *ngIf="imgURLE" style="max-width: 200px; max-height: 200px;">
                            <div class="card-body">
                                <input class="btn" type="file" id="file" accept='image/*'
                                    (change)="loadImageE($event.target.files)">
                            </div>
                        </div>
                    </div>
                    <input class="form-control" type="text" required placeholder="Nombre de tienda" name="shopName"
                        (ngModelChange)="errorLogin=false" [class.is-invalid]="shopName.invalid && shopName.touched"
                        [ngModel]="customer.shopName" #shopName="ngModel">
                    <textarea type="text" class="form-control my-md-4" required name="shopDescription"
                        placeholder="Descripción" (ngModelChange)="errorLogin=false"
                        [class.is-invalid]="shopDescription.invalid && shopDescription.touched"
                        [ngModel]="customer.shopDescription" #shopDescription="ngModel" style="resize: none;">
                    </textarea>
                    <small class="text-danger" *ngIf="errorLogin">{{msgError}}</small>
                    <input type="submit"
                        class="button btn bg-el-barrio-dark-blue btn-lg btn-block rounded-pill m-2 text-uppercase"
                        value="Enviar Solicitud" [disabled]="loading">
                </form>
            </div>
        </div>
    </div>
    <br><br>
</div>

<!-- Button trigger modal -->
<button id="BtnOpen" type="button" class="btn btn-primary" [hidden]="true" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Confirmación</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          {{successMsg}}
        </div>
        <div class="modal-footer">
          <a type="button" class="btn bg-el-barrio-golden" data-bs-dismiss="modal" [routerLink]="['/home']">
            <p> Ir al inicio</p>
        </a>
        </div>
      </div>
    </div>
  </div>
  