<div class="mx-5 px-5 mt-5 animated fadeIn">
    <div class="d-flex justify-content-start">
        <div class="row w-100">
            <div class="row">
                <div class="row">
                    <div class="w-100 bg-el-barrio-dark-blue">
                        <h2>Tendencias</h2>
                    </div>
                </div>
                <div class="card-columns m-5 animated fadeIn">
                        <ul class="text-center">
                            <li class="border-white d-inline-block mb-1 w-25" *ngFor="let categorie of categories">
                                <a [routerLink]="['/routePath']">
                                    <div class="card" style="width: 18rem;">
                                        <img src="../../../assets/img/no-image-found.png" class="card-img-top rounded"
                                            alt="imagen no disponible">
                                        <div class="card-body">
                                            <h4 class="card-title">{{categorie}}</h4>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                </div>
            </div>

            <div class="row">
                <div class="row">
                    <div class="w-100 bg-el-barrio-blue">
                        <h2>Productos destacados</h2>
                    </div>
                </div>
                <app-items [items]="categories"></app-items>
            </div>

            <div class="row">
                <div class="row">
                    <div class="w-100 bg-el-barrio-golden">
                        <h2>Productos nuevos</h2>
                    </div>
                </div>
                <app-items [items]="categories"></app-items>
            </div>
        </div>
    </div>
</div>