<div class="container mb-5 animated fadeIn">
    <div class="row">
        <div class="d-flex justify-content-center">
            <h1 class="fs-1">Iniciar sesión</h1>
        </div>
    </div>
    <div class="row">
        <div class="d-flex justify-content-center">
            <i class="fas fa-user-circle fa-9x" style="color: #005E7A;"></i>
        </div>
    </div>
    <div class="row">
        <div class="d-flex justify-content-center">
            <div class="mt-5 w-25">
                <form class="text-center" autocomplete="off">
                    <input type="text" class="form-control m-2" [(ngModel)]="username" name="name"
                        placeholder="Nombre de usuario" aria-describedby="basic-addon1">
                    <input type="password" class="form-control m-2" [(ngModel)]="password" name="pass"
                        placeholder="Contraseña" aria-describedby="basic-addon1">
                    <small class="text-danger" *ngIf="username == '' && password == '' && errorLogin">{{msgError}}</small>
                    <button type="submit" class="btn bg-el-barrio-dark-blue btn-lg btn-block rounded-pill m-2 text-uppercase"
                        (click)="startLogin($event)" [disabled]='loading'>Iniciar Sesión</button>
                </form>
            </div>
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="d-flex justify-content-center">
            <h2 class="mx-5">¿No tienes cuenta?</h2>
            <a class="btn rounded-pill bg-el-barrio-blue" routerLink="/registerUser">
                <p class="text-uppercase mt-1">Registrarme</p>
            </a>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="d-flex justify-content-center">
            <h2 class="mx-5 text-center">¿No tienes cuenta?</h2>
            <a class="btn rounded-pill text-center bg-el-barrio-blue" routerLink="/registerSeller">
                <p class="text-uppercase mt-1">Registrar mi tienda</p>
            </a>
        </div>
    </div>
</div>