<div class="container mb-5 animated fadeIn">
    <div class="row">
        <div class="d-flex justify-content-center">
            <h1 class="fs-1">Iniciar sesión</h1>
        </div>
    </div>
    <div class="row">
        <div class="d-flex justify-content-center">
            <i class="fas fa-user-circle fa-9x" style="color: #005E7A;"></i>
        </div>
    </div>
    <div class="row">
        <div class="d-flex justify-content-center">
            <div class="mt-5 w-25">
                <form class="text-center" autocomplete="off" #forma="ngForm" (ngSubmit)="startLogin(forma)">
                    <input type="text" class="form-control m-2"
                        [class.is-invalid]="username.invalid && username.touched" placeholder="Correo" name="username"
                        required [ngModel]="user.username" #username="ngModel" (ngModelChange)="errorLogin=false">
                    <small class="text-danger" *ngIf="username.invalid && username.touched">Ingrese en usuario</small>
                    <input type="password" class="form-control m-2"
                        [class.is-invalid]="password.invalid && password.touched" placeholder="Contraseña" name="password" 
                        required [ngModel]="user.password" #password="ngModel" (ngModelChange)="errorLogin=false">
                    <small class="text-danger" *ngIf="password.invalid && password.touched">Ingrese en
                        contraseña</small>
                    <small class="text-danger" *ngIf="errorLogin">{{msgError}}</small>
                    <button type="submit"
                        class="btn bg-el-barrio-dark-blue btn-lg btn-block rounded-pill m-2 text-uppercase"
                        [disabled]='loading'>Iniciar Sesión</button>
                </form>
            </div>
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="d-flex justify-content-center">
            <h2 class="mx-5">¿No tienes cuenta?</h2>
            <a class="btn rounded-pill bg-el-barrio-blue" routerLink="/registerUser">
                <p class="text-uppercase mt-1">Registrarme</p>
            </a>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="d-flex justify-content-center">
            <h2 class="mx-5 text-center">¿No tienes cuenta?</h2>
            <a class="btn rounded-pill text-center bg-el-barrio-blue" routerLink="/registerSeller">
                <p class="text-uppercase mt-1">Registrar mi tienda</p>
            </a>
        </div>
    </div>
</div>