<div class="px-5 mt-5 animated fadeIn">
    <div class="row">
        <div class="col-2">
            <div class="list-group">
                <button type="button" class="btn border-0 list-group-item text-start"
                    [ngClass]="{'bg-dark': options[0], 'text-white' : options[0]}" (click)="changeContent(0)">
                    Información personal
                </button>
                <button [hidden]="!customerFlag" type="button" class="btn border-0 list-group-item text-start"
                    [ngClass]="{'bg-dark': options[1], 'text-white' : options[1]}" (click)="changeContent(1)">
                    Historial de compra
                </button>
                <button [hidden]="customerFlag" type="button" class="btn border-0 list-group-item text-start"
                    [ngClass]="{'bg-dark': options[2], 'text-white' : options[2]}" (click)="changeContent(2)">
                    Lista de productos
                </button>
                <button [hidden]="customerFlag" type="button" class="btn border-0 list-group-item text-start"
                    [ngClass]="{'bg-dark': options[3], 'text-white' : options[3]}" (click)="changeContent(3)">
                    Historial de venta
                </button>
            </div>
        </div>

        <div class="col-10">
            <!--Personal information-->
            <div *ngIf="options[0]">
                <button class="btn float-end mb-2" (click)="readonlyInfo = !readonlyInfo">
                    <i *ngIf="readonlyInfo" class="fas fa-pencil-alt fa-2x"></i>
                    <i *ngIf="!readonlyInfo" class="fas fa-window-close fa-2x"></i>
                </button>
                <img class="card-img-top mx-auto img-fluid rounded-circle mb-2" [src]="userData.image | noimage"
                    style="width: 80px; height: 80px;">
                <form class="text-center border-0" autocomplete="off" #forma="ngForm"
                    (ngSubmit)="registerCustomer(forma)">
                    <input [disabled]="readonlyInfo" class="form-control" type="text" placeholder="Nombre completo"
                        name="name" (ngModelChange)="errorLogin=false" [class.is-invalid]="name.invalid && name.touched"
                        [ngModel]="customer.name" #name="ngModel" required>
                    <input [disabled]="readonlyInfo" class="form-control my-4 w-50" type="text" placeholder="Telefono"
                        name="phone" (ngModelChange)="errorLogin=false"
                        [class.is-invalid]="phone.invalid && phone.touched" [ngModel]="customer.phone" #phone="ngModel"
                        required>
                    <input [disabled]="readonlyInfo" class="form-control my-4 w-50" type="text" placeholder="Cedula"
                        name="id" (ngModelChange)="errorLogin=false" [class.is-invalid]="id.invalid && id.touched"
                        [ngModel]="customer.id" #id="ngModel" required>
                    <input [disabled]="readonlyInfo" class="form-control my-4" type="text" placeholder="Correo"
                        name="mail" (ngModelChange)="errorLogin=false" [class.is-invalid]="mail.invalid && mail.touched"
                        [ngModel]="customer.mail" #mail="ngModel" required>
                    <div class="input-group my-md-4">
                        <input [disabled]="readonlyInfo" class="form-control" type="text" required
                            placeholder="Provincia" name="state" (ngModelChange)="errorLogin=false"
                            [class.is-invalid]="state.invalid && state.touched" [ngModel]="customer.state"
                            #state="ngModel">
                        <input [disabled]="readonlyInfo" class="form-control" type="text" required placeholder="Canton"
                            name="city" (ngModelChange)="errorLogin=false"
                            [class.is-invalid]="city.invalid && city.touched" [ngModel]="customer.city" #city="ngModel">
                    </div>
                    <textarea [disabled]="readonlyInfo" type="text" class="form-control my-md-4" required
                        placeholder="Otras señas" name="direction" (ngModelChange)="errorLogin=false"
                        [class.is-invalid]="direction.invalid && direction.touched" [ngModel]="customer.direction"
                        #direction="ngModel" style="resize: none;">
                         </textarea>
                    <div class="input-group my-4">
                        <input [disabled]="readonlyInfo" class="form-control" type="password" required
                            placeholder="Contraseña" name="password1" (ngModelChange)="errorLogin=false"
                            [class.is-invalid]="password1.invalid && password1.touched" [ngModel]="customer.password1"
                            #password1="ngModel">
                        <input [disabled]="readonlyInfo" class="form-control" type="password" required
                            placeholder="Repetir contraseña" name="password2" (ngModelChange)="errorLogin=false"
                            [class.is-invalid]="password2.invalid && password2.touched" [ngModel]="customer.password2"
                            #password2="ngModel">
                    </div>
                    <small class="text-danger" *ngIf="(password1.value != password2.value) && password2.touched">La
                        contraseña no coincide</small>
                    <small class="text-danger" *ngIf="errorLogin">{{msgError}}</small>
                    <br>
                    <input type="submit"
                        class="button btn bg-el-barrio-dark-blue btn-lg btn-block rounded-pill m-2 text-uppercase"
                        value="Guardar" [disabled]="loading || readonlyInfo">
                </form>
            </div>
            <!--Pucharses history-->
            <div *ngIf="options[1]" style="min-height: 100vh;">
                <div class="row row-cols-1 g-4">
                    <div class="card border-0" *ngFor="let item of purchasesHistory">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-12 col-md-3">
                                    <img class="card-img-top mx-auto rounded-circle" [src]="item.itemImage| noimage">
                                    <h3 class="text-center fs-4 fw-bold">{{item.itemName}}</h3>
                                </div>
                                <div class="col-sm-12 col-md-9 d-flex align-items-center">
                                    <div class="w-100">
                                        <h4><span class="fa-2">Numero de factura: </span>{{item.id_order | number}}</h4>
                                        <h4><span class="fa-2">Precio unitario: </span>{{item.unit_price | currency:
                                            'CRC':'symbol-narrow'}}</h4>
                                        <h4><span class="fa-2">Cantidad: </span>{{item.quantity}}</h4>
                                        <h4><span class="fa-2">Cantidad: </span>{{item.total | currency:
                                            'CRC':'symbol-narrow'}}</h4>
                                        <h4><span class="fa-2">Fecha: </span>{{item.date | date}}</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
            <!--Items shop product-->
            <div *ngIf="options[2]" style="min-height: 100vh;">
                <h2 class="fs-2 d-inline-block">Lista de productos</h2>
                <div class="float-end">
                    <a class="btn" [routerLink]="['/addItem']">
                        <i class="fas fa-plus-circle fa-2x"></i>
                    </a>
                </div>
                <br>
                <div class="row row-cols-1 g-4">
                    <div class="card border-0" *ngFor="let item of items">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-12 col-md-3">
                                    <img class="card-img-top mx-auto rounded-circle" [src]="item.itemImage| noimage">
                                    <h3 class="text-center fs-4 fw-bold">{{item.name}}</h3>
                                </div>
                                <div class="col-sm-12 col-md-9 d-flex align-items-center">
                                    <div class="w-100">
                                        <div class="btn-group d-block" role="group">
                                            <div class="d-flex justify-content-center">
                                                <button type="button" (click)="openModalToAdd(item)"
                                                    class="w-50 btn bg-el-barrio-blue rounded-pill">Detalles</button>
                                                <button [disabled]="!item.status || loading" [hidden]="!item.status"
                                                    type="button" (click)="changeStatus(item,0)"
                                                    class="w-50 btn bg-el-barrio-blue rounded-pill">Deshabilitar</button>
                                                <button [disabled]="item.status || loading" [hidden]="item.status"
                                                    type="button" (click)="changeStatus(item,1)"
                                                    class="w-50 btn bg-el-barrio-golden rounded-pill">Habilitar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
            <!--Sales History-->
            <div *ngIf="options[3]" style="min-height: 100vh;">
                <div class="row row-cols-1 g-4">
                    <div class="card border-0" *ngFor="let item of salesHistory">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-12 col-md-3">
                                    <img class="card-img-top mx-auto rounded-circle" [src]="item.itemImage| noimage">
                                    <h3 class="text-center fs-4 fw-bold">{{item.itemName}}</h3>
                                </div>
                                <div class="col-sm-12 col-md-9 d-flex align-items-center">
                                    <div class="w-100">
                                        <h4><span class="fa-2">Numero de factura: </span>{{item.id_order | number}}</h4>
                                        <h4><span class="fa-2">Precio unitario: </span>{{item.unit_price | currency:
                                            'CRC':'symbol-narrow'}}</h4>
                                        <h4><span class="fa-2">Cantidad: </span>{{item.quantity}}</h4>
                                        <h4><span class="fa-2">Cantidad: </span>{{item.total | currency:
                                            'CRC':'symbol-narrow'}}</h4>
                                        <h4><span class="fa-2">Fecha: </span>{{item.date | date}}</h4>
                                        <hr>
                                        <h2>Información del cliente</h2>
                                        <div class="list-group list-group-horizontal">
                                            <li class="list-group-item border-0">
                                                <h4><span class="fa-2">Nombre: </span>{{item.userName | uppercase}}</h4>
                                            </li>
                                            <li class="list-group-item border-0">
                                                <h4><span class="fa-2">Celular: </span>{{item.phone}}</h4>
                                            </li>
                                        </div>
                                        <div class="list-group">
                                            <li class="list-group-item border-0">
                                                <h4><span class="fa-2">Correo: </span>{{item.email}}</h4>
                                            </li>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Button trigger modal -->
<button id="btn-modalAdd" type="button" hidden=true data-bs-toggle="modal" data-bs-target="#exampleModal">
</button>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Detalles del producto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <img [src]="selectedItem.itemImage | noimage" class="card-img-top mx-auto img-fluid"
                            style="width: 150px; height: 150px;">
                    </div>
                    <div class="col-md-6">
                        <h2>{{selectedItem.name}}</h2>
                        <h4>{{selectedItem.description}}</h4>
                        <h5>{{selectedItem.price | currency: 'CRC':'symbol-narrow'}}</h5>
                        <h5>Estado: <span *ngIf="selectedItem.status">Habilitado</span><span
                                *ngIf="!selectedItem.status">Deshabilitado</span></h5>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>