<div class="container mb-5">
    <div class="row">
        <div class="d-flex justify-content-center">
            <h1 class="fs-1">Registrarme</h1>
        </div>
    </div>
    <div class="row">
        <div class="d-flex justify-content-center">
            <i class="bi bi-person-circle" style="color: #005E7A; font-size: xx-large;"></i>
        </div>
    </div>
    <div class="row">
        <div class="d-flex justify-content-center">
            <div class="mt-5">
                <form class="text-center">
                    <input type="text" class="form-control m-2"  name="user-data" placeholder="Nombre de usuario" aria-describedby="basic-addon1">
                    <input type="text" class="form-control m-2"  name="user-data" placeholder="Correo" aria-describedby="basic-addon1">
                    <input type="password" class="form-control m-2"  name="user-data" placeholder="Contraseña" aria-describedby="basic-addon1">
                    <button type="submit" class="btn btn-primary btn-lg btn-block m-2" (click)="startLogin($event)">Registrarme</button>
                </form>
            </div>
        </div>
    </div>
    <br><br>
</div>