<div class="container mb-5 animated fadeIn mt-5">
    <div class="row">
        <div class="d-flex justify-content-center">
            <h1 class="fs-1">Crear una cuenta</h1>
        </div>
    </div>
    <div class="row">
        <div class="d-flex justify-content-center">
            <div class="mt-5 w-50">
                <form class="text-center form-control border-0">
                    <input type="text" class="form-control m-4 w-50" [value]="name" name="user-data"
                        placeholder="Nombre" aria-describedby="basic-addon1">
                    <input type="password" class="form-control m-4 w-50" [value]="lastname" name="user-data"
                        placeholder="Apellidos" aria-describedby="basic-addon1">
                    <input type="password" class="form-control m-4" [value]="mail" name="user-data"
                        placeholder="Correo" aria-describedby="basic-addon1">
                        <div class="input-group m-4">
                            <input type="password" class="form-control" [value]="password1" placeholder="Contraseña" aria-label="Username">
                            
                            <input type="password" class="form-control mx-1" [value]="password2" placeholder="Repetir contraseña" aria-label="Server">
                          </div>
                    <button type="submit"
                        class="btn bg-el-barrio-dark-blue btn-lg btn-block rounded-pill m-2 text-uppercase"
                        (click)="startLogin($event)">Registrarme</button>
                </form>
            </div>
        </div>
    </div>
    <br><br>
</div>